<!DOCTYPE html>
<html>
<head>
    <title>Regex_Tester</title>
</head>
<body>
    <h1>Regex_Tester</h1>
    <form method="post">
        <label for="test_string">Test String:</label>
        <input type="text" name="test_string" id="test_string"><br><br>
        <label for="regex">Regex:</label>
        <input type="text" name="regex" id="regex"><br><br>
        <input type="submit" value="Match">
    </form>
    {% if matches %}
        <h2>Matches:</h2>
        <ul>
        {% for match in matches %}
            <li>{{ match }}</li>
        {% endfor %}
        </ul>
    {% endif %}
</body>
</html>